.header {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;
  height: 42px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .header {
    height: 52px;
    padding: 28px 0 0;
    width: calc((720/768)*100%);
  }
}
@media screen and (min-width: 1024px) {
  .header {
    width: calc((928/1024)*100%);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    width: 1184px; 
  }
}