.footer {
  font-family: 'Inter';
  color: #FFFFFF;
  margin: 0 auto 24px 16px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer {
    margin: 0 24px 24px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}